<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">usuario</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_neptuno?serverTimezone=UTC</property>
  <property name="hibernate.connection.username">usuario</property>
  <property name="hibernate.default_schema">bd_neptuno</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping class="Main.prueba"/>
  <mapping class="Main.prueba1A1"/>
  <mapping class="Main.profesor"/>
  <mapping class="Main.alumno"/>
  <mapping class="Main.SUPERusuario"/>
 </session-factory>
</hibernate-configuration>
